torchao==0.10.0
safetensors
# git+https://github.com/huggingface/diffusers@8600b4c10d67b0ce200f664204358747bd53c775
git+https://github.com/huggingface/diffusers@main
transformers>=4.57.3
lycoris-lora>=1.8.3
flatten_json
pyyaml
oyaml
tensorboard
kornia
invisible-watermark
einops
accelerate
toml
albumentations==1.4.15
albucore==0.0.16
pydantic
omegaconf
k-diffusion
open_clip_torch
timm
prodigyopt
controlnet_aux
python-dotenv
bitsandbytes
hf_transfer
lpips
pytorch_fid
optimum-quanto
sentencepiece
huggingface_hub
peft
gradio>=6.3.0
python-slugify
opencv-python
pytorch-wavelets
matplotlib
setuptools
scipy>=1.13.0
av
torchcodec
